<div class="laptop:snap-y h-screen snap-mandatory overflow-scroll">
  <div class="snap-start w-full laptop:h-[576px] smartphone:h-fit bg-blue-500">
    <div class="flex laptop:flex-row smartphone:flex-col h-full items-center justify-between">
      <div
        [style.width.px]="isLaptop ? w_left_window - 150 : w_left_window"
        class="smartphone:px-10 tablet:px-16 py-8 font-bold laptop:text-7xl tablet:text-6xl smartphone:text-5xl smartphone:order-last laptop:order-first text-white"
      >
        <div>Full-stack</div>
        <div>Developer.</div>
        <div class="text-xl my-5 text-justify">
          I’m skilled in several programming languages and I have experience in
          integrating engineering principles in software applications.
        </div>
        <div class="flex">
          <div
            class="cursor-pointer h-12 w-12 rounded-xl p-1 border-2 border-blue-400 bg-white"
          >
            <a href="https://www.linkedin.com/in/luca-dos-santos-452431263/">
              <img
                src="https://www.svgrepo.com/show/448234/linkedin.svg"
                alt=""
              />
            </a>
          </div>
          <div
            class="cursor-pointer h-12 w-12 rounded-xl ml-2 p-1 border-2 border-blue-400 bg-white"
          >
            <a href="https://github.com/lucados">
              <img
                src="https://www.svgrepo.com/show/448225/github.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div
        class="flex smartphone:h-[200px] smartphone:w-[200px] tablet:h-[300px] tablet:w-[300px] mt-16 border-2 border-blue-500 rounded-full bg-profile-pic bg-cover"
      ></div>

      <div class="p-16 flex-grow h-full justify-between smartphone:hidden laptop:flex flex-row">
        <div class="basis-1/4 flex flex-col items-center justify-start">
          <img class="w-20 h-20" src="icons/web-dev.svg" alt="" />
          <img class="mt-36 w-20 h-20" src="icons/drone.svg" alt="" />
        </div>
        <div class="basis-1/4 flex flex-col items-center justify-end">
          <img class="w-20 h-20" src="icons/cloud-dev.svg" alt="" />
        </div>
        <div class="basis-1/4 flex flex-col items-center justify-center">
          <img class="w-20 h-20" src="icons/robot-dev.svg" alt="" />
        </div>
        <div class="basis-1/4 flex flex-col items-center justify-between">
          <img class="w-20 h-20" src="icons/embedded-dev.svg" alt="" />
          <img class="w-20 h-20" src="icons/mobile-dev-1.svg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- Resume page -->
  <div class="snap-start">
    <div class="w-full h-fit relative">
      <!-- slider -->
      <div
        [style.left.px]="w_left_window - PADDING"
        class="smartphone:hidden laptop:flex flex-col absolute  h-full pb-[250px] w-fit"
      >
        <div class="w-10 h-16 bg-blue-300"></div>
        <div
          [style.left.px]="w_left_window - PADDING"
          class="sticky top-0 w-10 h-24"
        >
          <div class="w-full h-full p-1">
            <div
              (mousedown)="onMouseDown($event)"
              class="cursor-pointer mt-[108px] border-2 border-blue-400 shadow-lg h-full w-full flex flex-col items-center justify-center rounded-lg bg-blue-300"
            >
              <div
                class="w-3 my-1 h-3 bg-white border-2 border-blue-400 rounded-full"
              ></div>
              <div
                class="w-3 my-1 h-3 bg-white border-2 border-blue-400 rounded-full"
              ></div>
              <div
                class="w-3 my-1 h-3 bg-white border-2 border-blue-400 rounded-full"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-grow flex smartphone:flex-col laptop:flex-row w-full">
        <!-- left window -->
        <div
          [style.width.px]="w_left_window"
          class="flex-col bg-white laptop:border-r laptop:border-b-2 border-blue-400"
        >

        <!-- selection bar -->
          <div
            class="smartphone:hidden laptop:flex justify-end pr-11 py-2 bg-blue-300 border-b-2 border-blue-400"
          >
            <div
              (click)="selectWidget('skills')"
              [style.opacity]="selectedWidgets.includes('skills') ? '1' : '0.5'"
              class="cursor-pointer h-12 w-12 rounded-xl p-1 border-2 border-blue-400 bg-white hover:opacity-100 hover:shadow-lg"
            >
              <img
                src="https://www.svgrepo.com/show/454121/education-learning-6.svg"
                alt=""
              />
            </div>
            <div
              (click)="selectWidget('education')"
              [style.opacity]="
                selectedWidgets.includes('education') ? '1' : '0.5'
              "
              class="cursor-pointer h-12 w-12 rounded-xl ml-2 p-1 border-2 border-blue-400 bg-white hover:opacity-100 hover:shadow-lg"
            >
              <img
                src="https://www.svgrepo.com/show/450824/education.svg"
                alt=""
              />
            </div>
          </div>
          <!-- Skills -->
          @if(selectedWidgets.includes('skills')){
          <app-skills
            [categoryList]="categoryList"
            [widgetWidth]="w_left_window - ((isLaptop || isTablet) ? 2*BIG_MARGIN : 2*SMALL_MARGIN)"
          ></app-skills>
          }
        </div>
        <!-- right window -->
        <div
          [style.width.px]="w_right_window"
          class="flex-col bg-white laptop:border-l laptop:border-b-2 border-blue-400"
        >
        <!-- selection bar -->
          <div
            class="smartphone:hidden laptop:flex justify-start pl-11 py-2 bg-blue-300 border-b-2 border-blue-400"
          >
            <div
              (click)="selectWidget('works')"
              [style.opacity]="selectedWidgets.includes('works') ? '1' : '0.5'"
              class="cursor-pointer h-12 w-12 rounded-xl p-2 border-2 border-blue-400 bg-white hover:opacity-100 hover:shadow-lg"
            >
              <img
                src="https://www.svgrepo.com/show/412382/experience.svg"
                alt=""
              />
            </div>
            <div
              (click)="selectWidget('projects')"
              [style.opacity]="
                selectedWidgets.includes('projects') ? '1' : '0.5'
              "
              class="cursor-pointer h-12 w-12 rounded-xl ml-2 p-2 border-2 border-blue-400 bg-white hover:opacity-100 hover:shadow-lg"
            >
              <img
                src="https://www.svgrepo.com/show/450795/deep-learning-project.svg"
                alt=""
              />
            </div>
          </div>
          <!-- Work Experience -->
          @if(selectedWidgets.includes('works')){
          <div
            class="bg-blue-50 p-5 smartphone:mx-5 tablet:mx-11 laptop:my-11 smartphone:my-0 rounded-lg border-2 border-blue-200 shadow-lg"
          >
            <div class="flex flex-row items-center">
              <div class="tablet:text-6xl smartphone:text-5xl font-bold text-blue-400 mr-6">
                Experience
              </div>
            </div>
            <div class="flex-auto w-full">
              <div class="overflow-y-scroll h-fit">
                @for(work of workList; track work) {
                <div class="pt-5">
                  <app-work [work]="work"></app-work>
                </div>
                }
              </div>
            </div>
          </div>
          }
          <!-- Projects -->
          @if(selectedWidgets.includes('projects')){
          <div
            class="bg-blue-50 p-5 smartphone:m-5 tablet:m-11 rounded-lg border-2 border-blue-200 shadow-lg"
          >
            <div class="flex flex-row items-center">
              <div class="tablet:text-6xl smartphone:text-5xl font-bold text-blue-400 mr-6">Projects</div>
            </div>
            <div class="flex-auto w-full">
              <div class="overflow-y-scroll h-fit">
                @for(project of projectList; track project) {
                <div class="pt-5">
                  <app-project [project]="project"></app-project>
                </div>
                }
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="snap-start">
    <div class="w-full h-screen flex flex-col bg-blue-500">
      <div class="h-16 w-full bg-blue-300"></div>

      <video
        class="w-full h-3/4 object-cover"
        src="drone.mov"
        type="video/mov"
        autoplay
        [muted]="true"
        loop
      ></video>
    </div>
  </div>
</div>
