<div
  class="flex flex-col w-full h-fit overflow-y-scroll scroll-smooth p-6 text-xl font-mono rounded-lg bg-white border-2 border-blue-200"
>
  <p class="text-2xl">
    <span class="font-bold">{{ work.title }}&nbsp;</span>
    <span>&#64;</span>
    <span>{{ work.institution }}</span>
    <span>, {{ work.location }}</span>
  </p>
  <div class="mt-2 w-fit">
    {{ work.date }}
  </div>
  <!-- <div
    [style]="expanded ? 'height: fit-content' : 'height: 124px'"
    class="overflow-y-hidden"
  > -->
  @if(expanded) {
  <div @toggle class="overflow-y-hidden">
    @for(task of work.tasks; track task) {
    <div class="flex flex-row">
      <div
        class="w-[8px] h-[8px] rounded-full bg-black mt-[18px] mr-[18px]"
      ></div>
      <p class="mt-2 w-fit text-justify text-lg">
        {{ task }}
      </p>
    </div>
    }
  </div>
  }
  <!-- </div> -->
  <div class="flex flex-row items-center">
    <div class="flex basis-4/5 flex-wrap mt-2">
      @for(skill of work.skillNames; track skill) {
      <div
        class="rounded-full bg-primaryColor py-1 px-3 mx-1 my-1 shadow-md h-fit font-bold text-white text-xl"
      >
        {{ skill }}
      </div>
      }
    </div>
    <div
      (click)="expand()"
      class="basis-1/5 flex flex-row justify-end"
    ><div class="w-10 h-10 hover:bg-blue-200 hover:rounded-full">
      @if(!expanded) {
      <img src="https://www.svgrepo.com/show/521469/arrow-down.svg" alt="" />
      } @else {
      <img src="https://www.svgrepo.com/show/521486/arrow-up.svg" alt="" />
      }
    </div>
    </div>
  </div>
</div>
